@font-face {
    font-family: 'BenSen';
    src: url('hinted-BenSen.eot');
    src: url('hinted-BenSen.eot?#iefix') format('embedded-opentype'),
        url('hinted-BenSen.woff2') format('woff2'),
        url('hinted-BenSen.woff') format('woff'),
        url('hinted-BenSen.ttf') format('truetype'),
        url('hinted-BenSen.svg#BenSen') format('svg');
    font-weight: normal;
    font-style: normal;
}

